<div class="btn-group" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Studio
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "Funcionários", employees_path%></li>
      <li><%= link_to 'Alunos', students_path %></li>
      <li><a href="#">Cursos</a></li>
      <li><a href="#">Pacotes</a></li>
      <li><a href="#">Turmas</a></li>
      <li><a href="#">Espetaculos</a></li>
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Turmas
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Enturmação</a></li>
      <li><a href="#">Presença</a></li>
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Financeiro
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Contratos</a></li>
      <li><a href="#">Contas à receber</a></li>
      <li><a href="#">Contas à pagar</a></li>
    </ul>
  </div>
</div>